button {
    margin: 20px;
}
#cont{
    margin: 50px;
}

mat-radio-button{
    margin: 20px;
}

.buttons{
    font-size: 25px;
}

a{
    padding:10px;
    font-size: 50px;
  
}

table {
    width: 80%;
    height: 80%;
    margin-left:auto;
    margin-right:auto;
    
    margin-bottom: 50px;
  }

  .spacer{
      height:50px;
  }

  td.mat-cell,th.mat-header-cell{
    text-align: center;
}

@media (max-width:510px){
    #tool{
        font-size: 15px;
    }
    .mat-error{
        margin:1px;
    }
}

@media (max-width:390px){
    #tool{
        font-size: 11px;
    }
}