button {
    margin: 20px;
}
#cont{
    margin-bottom: 50px;
    margin-top: -100px;
}

mat-radio-button{
    margin: 20px;
}

h1{
    text-align: center;
}

.buttons{
    font-size: 25px;
}

table {
    width: 70%;
    height: 80%;
    margin-left:auto;
    margin-right:auto;
    
    
  }

  .spacer{
      height:50px;
  }

  td.mat-cell,th.mat-header-cell{
    text-align: center;
}

mat-paginator{
    
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
}




