<app-navbar></app-navbar>
<div class="content">
    <div fxLayoutAlign="center ">
        <h1>Autorzy aplikacji</h1>
    </div>
    <div fxLayoutAlign="center ">
        <img src="/assets/Sylwester_Skrzypiec.jpg" />
        <img src="/assets/Bartosz_Sterniczuk.jfif" />
    </div>
    <div fxLayoutAlign="center ">
        <span>Sylwester Skrzypiec</span>
        <span>Bartosz Sterniczuk</span>
    </div>
    <div fxLayoutAlign="center " class="title">
        <h1>O aplikacji</h1>
    </div>
    <div class="about">
        Głównym założeniem aplikacji internetowej, jest centralizacja, i cyfrowe przetwarzanie informacji przy wyborze
        prac dyplomowych przez studentów. Główny administrator systemu będzie miał możliwość dodawania poszczególnych
        administratorów, odpowiedzialnych za zarządzanie systemem na poziomie pojedynczej jednostki struktury
        organizacyjnej (wydziału) Politechniki Lubelskiej. Poszczególni administratorzy będą tworzyć dostęp dla
        studentów oraz promotorów, ręcznie dodawając pojedyncze osoby.
        Używanie niniejszej aplikacji pozwoli na lepszą organizację pracy dziekanatu, a także, usprawni pracę
        wydziałowych komisji odpowiedzialnych za zatwierdzanie tematów prac. Dodatkowo studenci uzyskają natychmiastową
        możliwość wyboru lub zaproponowania tematu własnej pracy oraz informacji dotyczącej jej aktualnego statusu oraz
        innych niezbędnych informacji.


    </div>
</div>