<mat-toolbar color="primary" class="mat-elevation-z8">  
    <span><mat-icon>language</mat-icon>Aplikacja</span>

    <div class="spacer"></div>

    <a mat-button routerLink="/adminUnit/users" routerLinkActive="router-link-active"><mat-icon>groups</mat-icon> Użytkownicy</a>
    <a mat-button routerLink="/adminUnit/faculties" routerLinkActive="router-link-active"><mat-icon>store</mat-icon>Kierunki </a>
    <a mat-button routerLink="/adminUnit/theses" routerLinkActive="router-link-active"><mat-icon>description</mat-icon>Prace </a>
    <a mat-button routerLink="/adminUnit/reports" routerLinkActive="router-link-active"><mat-icon>list_alt</mat-icon>Raporty </a>
    <a mat-button routerLink="/adminUnit/blockedAccounts" routerLinkActive="router-link-active"><mat-icon>block</mat-icon>Zablokowane konta </a>
    <a mat-raised-button color="accent" (click)="logout()" routerLinkActive="router-link-active">Wyloguj się <mat-icon>logout</mat-icon></a>
    

</mat-toolbar>
