<div>
<mat-toolbar color="primary" class="mat-elevation-z8">  
    <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  
    <span class="companyName"><mat-icon>language</mat-icon>Aplikacja</span>

    <div class="spacer"></div>
    <div fxShow="true" fxHide.lt-md="true">

    <a mat-button routerLink="/about" routerLinkActive="router-link-active"><mat-icon>groups</mat-icon> O nas</a>
    <a mat-raised-button color="accent" routerLink="/login" routerLinkActive="router-link-active">Zaloguj się <mat-icon>login</mat-icon></a>
    </div>

</mat-toolbar>




<mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
        <a mat-button routerLink="/about" routerLinkActive="router-link-active"><mat-icon>groups</mat-icon> O nas</a>
        <a mat-raised-button color="accent" routerLink="/login" routerLinkActive="router-link-active">Zaloguj się <mat-icon>login</mat-icon></a>
        
    </div>
  </mat-sidenav>
  

</div>