<mat-toolbar color="primary" class="mat-elevation-z8">  
    <span><mat-icon>language</mat-icon>Aplikacja</span>

    <div class="spacer"></div>

    <a mat-button routerLink="/admin/departments" routerLinkActive="router-link-active"><mat-icon>store</mat-icon> Wydzialy</a>
    <a mat-button routerLink="/admin/reports" routerLinkActive="router-link-active"><mat-icon>list_alt</mat-icon>Raporty </a>
    <a mat-button routerLink="/admin/administrators" routerLinkActive="router-link-active"><mat-icon>supervisor_account</mat-icon>Administratorzy </a>
    <a mat-raised-button color="accent"  routerLinkActive="router-link-active">Zaloguj się <mat-icon>logout</mat-icon></a>
    

</mat-toolbar>
