<div  fxLayoutAlign="center " >
    <mat-card id="cont"  fxFlex="50" >
        <mat-toolbar color="primary">Dodaj użytkownika</mat-toolbar>
        <form  fxLayout="column" class="login-form"  [formGroup]="adminForm">
            <mat-form-field>
                <input matInput  placeholder="imie" required  formControlName="adminName">
            
            </mat-form-field>
            <mat-form-field>
               <mat-label>Województwo</mat-label>
                <mat-select formControlName="voivodeship" class="form-select" (selectionChange)="voivodeshipPicked()">
                    <mat-option *ngFor="let elem of voivodeships" [value]="elem" >
                    {{ elem.name.toLowerCase() }}
                    </mat-option>
                </mat-select> 
            </mat-form-field> 

            <mat-form-field *ngIf="showCounties">
                <mat-label>Powiat</mat-label>
                 <mat-select formControlName="county" class="form-select" (selectionChange)="countyPicked()">
                     <mat-option *ngFor="let county of counties" [value]="county">
                     {{ county.name }}
                     </mat-option>
                 </mat-select> 
             </mat-form-field> 

             <mat-form-field *ngIf="showBoroughs">
                <mat-label>Gmina</mat-label>
                 <mat-select formControlName="borough" class="form-select" (selectionChange)="boroughPicked()">
                     <mat-option *ngFor="let borough of boroughs" [value]="borough">
                     {{ borough.name }}
                     </mat-option>
                 </mat-select> 
             </mat-form-field> 

             <mat-form-field *ngIf="showCities">
                <mat-label>Miasto</mat-label>
                 <mat-select formControlName="city" class="form-select" (selectionChange)="cityPicked()">
                     <mat-option *ngFor="let city of cities" [value]="city">
                     {{ city.name }}
                     </mat-option>
                 </mat-select> 
             </mat-form-field> 

             <mat-form-field *ngIf="showStreets">
                <mat-label>Ulica</mat-label>
                 <mat-select formControlName="street" class="form-select" (selectionChange)="streetPicked()">
                     <mat-option *ngFor="let street of streets" [value]="street">
                     {{ street.characteristic }} {{street.secondPart}}  {{street.firstPart}} 
                     </mat-option>
                 </mat-select> 
             </mat-form-field>
        </form>
    </mat-card>
</div>
